:root
{
	--superdark : #052026;
	--dark : black;
	--medium : rgb(145, 145, 143);
	--light : rgba(149, 204, 192, 0.689);
	--superlight : #a0b3d72e;
}
*
{
    font-family :sans-serif;
}
body{
	background-color: whitesmoke;
	color: #e2dedb;
}
.main
{
    height: 84.4vh;
    padding: 5px 10px;
	margin-left: .7%;
	margin-right: 1%;
    display: none;
    flex-direction: row;
    align-items: stretch;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084) , 0px 2px 3px rgba(0, 0, 0, 0.168);
}
.header
{
	display: flex;
	background-color: var(--dark);
	align-items: stretch;
	height: 7vh;
	padding: .3% 0%;
	display: none;
	margin-left: .7%;
	margin-bottom: 1%;
	margin-right: 1%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.084) , 0px 5px 5px rgba(0, 0, 0, 0.168);
}
#display_name
{
	display: flex;
	padding: 1% ;
	justify-content: center;
	align-items: center;
	flex: 1;
	border-right: 1px solid #ebebeb;
}
#currentviewing
{
	width: 75.8%;
	display: flex;
	padding:1%;
	justify-content: center;
	align-items: center;
}
.alive
{
	border-top: none;
    padding: 1.5% 1% 1% 1%;
    flex-grow: 1;
    overflow-y: scroll;
	border-right:1.2px solid #36494b;
}
.usertile
{
	color: white;
    height: 8%;
    background-color:var(--medium);
    margin-bottom:7%;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084) , 0px 2px 3px rgba(0, 0, 0, 0.168);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.alive > div:hover
{
    background-color: var(--superlight);
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(1.01);
    animation: 0.5s ease-in-out 0s 1 alternate none running pulse;
}

.prattle
{
    flex-grow: 1;
    width: 72%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    flex-wrap: initial;
    padding: 1%;
}
.viewer
{

  	border: none;
    flex:87%;
    margin-bottom: 10px;
    padding-top: 2em;
    display: flex;
    flex-direction:column;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.messagewrapper {
	box-sizing: border-box;
	padding: .8% 4% .8% 1% ;
  	display: flex;

}
.left{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-self: start;
}
.right{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	align-self: end;
}
.message
{
	background-color: var(--light);
	width: 17em;
	height: fit-content;
	box-sizing: border-box;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084) , 0px 2px 3px rgba(0, 0, 0, 0.168);
	padding: 4% 4%;
	border-radius: .3em;
  	overflow-wrap: break-word;
	color: var(--superdark);
}
.message:hover
{
  background-color: var(--light);
  transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transform: scale(1.01);
  animation: 0.5s ease-in-out 0s 1 alternate none running pulse;

}

.sender_area
{
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084) , 0px 2px 3px rgba(0, 0, 0, 0.168);
    flex:13%;
    padding-right: 1%;
    padding-left: 1%;
    display: none;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	background-color:#e2dedb;
}
#message
{
	border: none;
    width: 90%;
    height: 70%;
    padding-left: 1em;
    border-radius: 1em;
	margin-right: 1%;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    padding-top: 0.8em
}
#message::placeholder{
    position: relative;
    left :1%;
    top : 1%;
    color: rgb(147, 145, 176);
    font-size: .9em;
    font-family: 'Times New Roman', Times, serif;
}
#message:focus{
	outline-style: none;
	background-color: cornsilk;
}
.form-container {
    max-width: 400px;
    margin:0 auto;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084) , 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  .form-container button:active {
    scale: 0.95;
  }
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }

  .form-container .form-submit-btn:hover {
    background-color: #313131;

  }
.form {
	--input-bg: #FFf;
	border-bottom: 2px solid black;
	--padding: 1.5em;
	--rotate: 80deg;
	--gap: 2em;
	--icon-change-color: #15A986;
	--height: 40px;
	width: 95%;
	padding-inline-end: 1em;
	background: var(--input-bg);
	position: relative;

  }

  .form label {
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--height);
  }

  .form input {
	border: none;
	width: 100%;
	padding-inline-start: calc(var(--padding) + var(--gap));
	outline: none;
	background: none;
  }
  .form svg {
	color: #111;
	transition: 0.3s cubic-bezier(.4,0,.2,1);
	position: absolute;
	height: 15px;
  }
  /* search icon */
  .icon {
	position: absolute;
	left: var(--padding);
	transition: 0.3s cubic-bezier(.4,0,.2,1);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  /* arrow-icon*/
  .swap-off {
	transform: rotate(-80deg);
	opacity: 0;
	visibility: hidden;
  }
  /* close button */
  .close-btn {
	/* removing default bg of button */
	background: none;
	border: none;
	right: calc(var(--padding) - var(--gap));
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #111;
	padding: 0.1em;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transition: 0.3s;
	opacity: 0;
	transform: scale(0);
	visibility: hidden;
  }

  .form input:focus ~ .icon {
	transform: rotate(var(--rotate)) scale(1.3);
  }

  .form input:focus ~ .icon .swap-off {
	opacity: 1;
	transform: rotate(-80deg);
	visibility: visible;
	color: var(--icon-change-color);
  }

  .form input:focus ~ .icon .swap-on {
	opacity: 0;
	visibility: visible;
  }

  .form input:valid ~ .icon {
	transform: scale(1.3) rotate(var(--rotate))
  }

  .form input:valid ~ .icon .swap-off {
	opacity: 1;
	visibility: visible;
	color: var(--icon-change-color);
  }

  .form input:valid ~ .icon .swap-on {
	opacity: 0;
	visibility: visible;
  }

  .form input:valid ~ .close-btn {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: 0s;
  }
  .submitBtn {
	width: 13%;
	height: 70%;
	border-radius: 30px;
	border: none;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-weight: 600;
	cursor: pointer;
	color: white;
	background: linear-gradient(to left,rgb(230, 35, 0),rgb(255, 174, 0));
	letter-spacing: 0.7px;
  }

  .submitBtn:hover .arrow {
	animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-left {
	0% {
	  transform: translateX(-10px);
	  opacity: 0;
	}

	100% {
	  transform: translateX(0px);
	  opacity: 1;
	}
  }

  .submitBtn:active {
	transform: scale(0.97);
  }
  ::-webkit-scrollbar
{
    width: 4px;
    background-color: rgb(57, 190, 205);
    overflow: hidden;
	display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #1575ba;
    border-radius: 20px;
    overflow: hidden;
}

.alive::-webkit-scrollbar-track {
    background-color: white;
    overflow: hidden;
}