iniconfig==2.3.0
kademlia==2.2.3
msgpack-python==0.5.6
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
pytest-asyncio==1.3.0
rpcudp==5.0.1
tqdm==4.66.6
typing_extensions==4.15.0
u-msgpack-python==2.8.0
umsgpack==0.1.0
websockets==12.0
